/**/.vs
/**/Export_LIB
/**/Export
*.exe
*.tlog
*.idb
*.pdb
*.pch
*.recipe
*.log
*.obj
*.exp
*.ilk
*.enc
*vcx*.txt
/**/Log
*.d.json
*.dt.module.json
*.json.command
*.ifc
/**/ServerCore
/**/DreamWorldLog
*.ipdb
*.iobj
/**/GameServerEngine/PCH
/**/GameServerEngine/lib
/**/GameServerEngine/x64